<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h1 class="mb-4"><%= listing.title %></h1>

    <!-- Card -->
    <div class="card mb-3 listing-card">
      <img
        src="<%= listing.image %>"
        class="card-img-top show-img"
        alt="listing_image"
      />
      <div class="card-body">
        <p class="card-text"><%= listing.owner.username %></p>
        <p class="card-text"><%= listing.description %></p>
        <p class="card-text">
          <small class="text-muted"
            ><%= listing.location %>, <%= listing.country %></small
          >
        </p>
        <p class="card-text fw-bold">
          &#8377;<%= listing.price.toLocaleString("en-IN") %>
        </p>
      </div>
    </div>

    <!-- Edit link -->
    <%if(currUser && currUser._id.equals(listing.owner._id)){%>
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-warning me-2"
      >Edit This Listing</a
    >

    <!-- Delete form -->
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=DELETE"
      class="d-inline"
    >
      <button class="btn btn-danger">Delete This Listing</button>
    </form>
    <%}%>
  </div>
  <div class="col-8 offset-2 mt-3">
    <form
      action="/listings/<%=listing.id%>/reviews"
      method="POST"
      novalidate
      class="needs-validation"
    >
      <h4>Leave a review</h4>
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"
        />
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea
          id="comment"
          name="review[comment]"
          cols="30"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comment for review</div>
      </div>
      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <hr />
    <p><b>All Reviews</b></p>
    <div class="row">
      <% for(let review of listing.reviews){%>
      <div class="card col-5 ms-3 mb-3">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <p class="card-text"><%=review.comment%></p>
          <p class="card-text"><%=review.rating%>★</p>
        </div>
        <form
          action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
          class="mb-1"
          method="POST"
        >
          <button class="btn btn-sm btn-dark">Delete</button>
        </form>
      </div>
      <%}%>
    </div>
  </div>
</div>
